<p>Dear <%= @passenger.name %>,</p>
<p>
  Thank you for choosing to fly with us! We are pleased to confirm your booking
  for the following flight:
</p>
<div class="details">
  <h3>Flight Details:</h3>
  <p><strong>Flight Number:</strong> <%= @flight.id %></p>
  <p>
    <strong>Departure Airport:</strong> <%= @flight.departure_airport.code %>
  </p>
  <p>
    <strong>Arrival Airport:</strong> <%= @flight.arrival_airport.code %>
  </p>
  <p>
    <strong>Departure Date and Time:</strong> <%= @flight.departure_time.strftime('%A, %d %B %Y %H:%M %p') %>
  </p>
  <p>
    <strong>Arrival Date and Time:</strong>  <%= (@flight.departure_time + @flight.duration.minutes).strftime('%A, %d %B %Y %H:%M %p') %>
  </p>
</div>
<div class="details">
  <h3>Passenger Details:</h3>
  <p><strong>Name:</strong> <%= @passenger.name %></p>
  <p><strong>Email:</strong> <%= @passenger.email %></p>
  <p><strong>Booking Number:</strong> <%= @booking.id %></p>
</div>
<p>
  Please ensure that you arrive at the airport at least 2 hours prior to the
  departure time for check-in and security clearance.
</p>
<p>
  If you have any questions or need further assistance, please do not hesitate
  to contact our customer support.
</p>
<p>We look forward to welcoming you on board!</p>
<p>
  Best regards,<br />
  Odin Airways<br />
  Customer Support
</p>
