<div class="flex justify-center -mt-48">
  <div class="bg-white w-full max-w-lg p-6 shadow-md rounded-md">
    <h1 class="mb-4 text-xl font-bold text-slate-900 text-center">Flight Search</h1>
    <%= form_with url: "/flights", method: :get do |form| %>
      <div class="flex flex-col gap-4 text-slate-700">
        <div class="relative">
          <%= inline_svg_tag "icons/airplane-takeoff.svg", class: "select-svg" %>
          <%= form.select(:departure_code, @airport_options, {selected: @flight_details[:departure_code], include_blank: "Leaving from..."}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/airplane-landing.svg", class: "select-svg" %>
          <%= form.select(:arrival_code, @airport_options, {selected: @flight_details[:arrival_code], include_blank: "Going to..."}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/calendar-today.svg", class: "select-svg" %>
          <%= form.select(:date, @unique_departure_dates, {selected: @flight_details[:date], include_blank: "Depature date"}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/calendar-today.svg", class: "select-svg" %>
          <%= form.select(:num_tickets, [1,2,3,4], {selected: @flight_details[:num_tickets], include_blank: "Passengers"}, {class: "form-select"})%>
        </div>
        <%= form.submit "Search", name: nil, class: "w-full bg-blue-800 rounded p-2 text-sm font-medium text-blue-50" %>
      </div>
    <% end %>
  </div>
</div>
<% if defined?(@flights) %>
  <div class="">
    <h1 class="text-xl">Search Results</h1>
    <% if @flights.empty? %>
      <p class="text-center">No flights found.</p>
    <% else %>
      <%= form_with url: "/" do |form| %>
        <div class="grid grid-cols-1">
          <% @flights.each do |flight| %>
            <%= form.radio_button :flight, "#{flight.id}", {required: 'required'} %>
            <%= form.label :flight, "Flight: #{flight.id}"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>