<div class="flex justify-center -mt-48">
  <div class="bg-white w-full max-w-lg p-6 shadow-md rounded-md">
    <h1 class="mb-4 text-2xl font-bold text-slate-900 text-center">Flight Search</h1>
    <%= form_with url: "/flights", method: :get do |form| %>
      <div class="flex flex-col gap-4 text-slate-700">
        <div class="relative">
          <%= inline_svg_tag "icons/airplane-takeoff.svg", class: "select-svg" %>
          <%= form.select(:departure_code, @airport_options, {selected: @flight_details[:departure_code], include_blank: "Leaving from..."}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/airplane-landing.svg", class: "select-svg" %>
          <%= form.select(:arrival_code, @airport_options, {selected: @flight_details[:arrival_code], include_blank: "Going to..."}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/calendar-today.svg", class: "select-svg" %>
          <%= form.select(:date, @unique_departure_dates, {selected: @flight_details[:date], include_blank: "Depature date"}, {class: "form-select"}) %>
        </div>
        <div class="relative">
          <%= inline_svg_tag "icons/calendar-today.svg", class: "select-svg" %>
          <%= form.select(:num_tickets, [1,2,3,4], {selected: @flight_details[:num_tickets], include_blank: "Passengers"}, {class: "form-select"})%>
        </div>
        <%= form.submit "Search", name: nil, class: "w-full bg-blue-800 rounded p-2 text-sm font-medium text-blue-50" %>
      </div>
    <% end %>
  </div>
</div>
<% if defined?(@flights) %>
  <div class="mt-10">
    <h2 class="text-lg font-bold text-slate-900">Departure flights</h2>
    <p class="text-sm mb-4 font-semibold text-slate-700"><%= @date.strftime("%a, %d %B %Y")%></p>
    <% if @flights.empty? %>
      <p class="text-center">No flights found.</p>
    <% else %>
      <%= form_with url: "/" do |form| %>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"  data-controller="flight-card" >
          <% @flights.each do |flight| %>
            <label class="flight-card  bg-white hover:bg-blue-50 p-4 transition-all ease-in-out shadow-md rounded-md" data-flight-card-target="card" >
              <%= form.radio_button :flight, flight.id, { required: 'required', class: 'hidden',  "data-flight-card-target": "radio" }  %>
              <div class="flight-card-content  cursor-pointer" >
                <div class="text-sm">
                  <div class="flex justify-between gap-4 text-slate-800" data-flight-card-target="airport">
                    <div class="flex gap-2 font-bold items-center">
                      <%= inline_svg_tag "icons/airplane-takeoff.svg", class: "w-5 h-5 fill-current"%>
                      <span><%= flight.departure_airport.code %></span>
                    </div>
                    <div class="flex gap-2 font-bold items-center">
                      <%= inline_svg_tag "icons/airplane-landing.svg", class: "w-5 h-5 fill-current"%>
                      <span><%= flight.arrival_airport.code %></span>
                    </div>
                  </div>
                  <div class="flex justify-between gap-4 mt-4 text-slate-700" data-flight-card-target="time">
                    <div class="flex gap-2 font-bold items-center">
                      <span><%= flight.departure_time.strftime("%I:%M %p") %></span>
                    </div>
                    <div class="flex gap-2 font-bold items-center">
                      <span><%= format_duration flight.duration %></span>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>