<div class="flex justify-center -mt-48">
  <div class="bg-white w-full max-w-lg p-6 shadow-md rounded-md">
    <h1 class="mb-1 text-2xl font-bold text-slate-900 text-center">Booking Infomation</h1>
    <p class="text-center mb-3 text-sm text-slate-700 font-semibold flex flex-nowrap justify-between">
      <span>
        Flight ID: <%= @booking.flight_id %>
      </span>
      <span>
        <%= @booking.flight.departure_time.strftime("%A, %d %B %Y") %>
      </span>
    </p>
    <div class="text-sm">
      <div class="flex justify-between gap-4 text-slate-800" data-flight-card-target="airport">
        <div class="flex gap-2 font-bold items-center">
          <%= inline_svg_tag "icons/airplane-takeoff.svg", class: "w-5 h-5 fill-current"%>
          <span>Depart from <%= @booking.flight.departure_airport.code %></span>
        </div>
        <div class="flex gap-2 font-bold items-center">
          <%= inline_svg_tag "icons/airplane-landing.svg", class: "w-5 h-5 fill-current"%>
          <span>Arrive to <%= @booking.flight.arrival_airport.code %></span>
        </div>
      </div>
      <div class="flex justify-between gap-4 mt-2 text-slate-700" data-flight-card-target="time">
        <div class="flex gap-2 font-bold items-center">
          <span><%= @booking.flight.departure_time.strftime("%I:%M %p") %></span>
        </div>
        <div class="flex gap-2 font-bold items-center">
          <span><%= format_duration2 @booking.flight.duration %></span>
        </div>
      </div>
    </div>
    <div class="relative overflow-x-auto mt-6 mb-2">
      <table class="w-full text-sm text-left rtl:text-right text-slate-500">
        <thead class="text-xs text-blue-900 uppercase bg-blue-200">
          <tr>
            <th scope="col" class="px-4 py-2">
              Name 
            </th>
            <th scope="col" class="px-4 py-2">
              Email 
            </th>
          </tr>
        </thead>
        <tbody>
          <% @booking.passengers.each_with_index do |passenger, i| %>
            <tr class="bg-white border-b <%= "bg-slate-50" if i%2!=0%>">
              <th scope="row" class="px-4 py-2 font-medium text-slate-800 whitespace-nowrap">
                <%= passenger.name %>
              </th>
              <td class="px-4 py-2">
                <%= passenger.email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>